.menu{
    margin-left: 800px;
    color: beige;
    position: sticky;
    top:0;
    
   
    
    
}
.name{
    position: relative;
}
.n{
    position: absolute;
    top: 500px;
        left: 1200px;
        
}
body{
    position: sticky;
}
.centered {
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 33px;
  font-family:'Times New Roman', Times, serif;
  
}
button{
    background-color:brown;
    border-radius: 12px;
}
button:hover{
    background-color: greenyellow;
}
menu {
    margin-left: 900px;
    position: sticky;
    top: 0;
    background-color: lightslategray;
    width: 600px;
    



}

#about{
    height:900px;
    
    
    background:linear-gradient(darkblue,purple);
    width:800px;
    background-repeat: no-repeat;
    color:white;
    width:1500px;
font-family: cursive;    
font-size: 40px;
}

#projects{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    background: linear-gradient(purple,lightpink);
    gap:10px;
    padding: 200px;
    height:850px;
    
    
}

.about1{
    
    text-align:center;
    padding: 300px;
    
}
.study1{
    padding: 20px;
    background:linear-gradient(lightpink,purple);
    display: grid;
    grid-template-columns: repeat(2,2fr);
    margin-left:40px;
    height:200px;
    margin:50px;
    
}
.study2{
     background:linear-gradient(lightpink,purple);
     height:200px;
    margin:50px;
}
#resume{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    gap:164px;
    margin:30px;
    padding: 40px;
    font-family: cursive;
    
    
    
}

.study3{
     background:linear-gradient(lightpink,purple);
     height:200px;
    margin:50px;
}
#contact{
    font-size: 22px;
    background:linear-gradient(purple,lightpink);
    padding: 70px;
        text-align: center;


    
    margin:380px;
    width:60%;
    font-family: cursive;
    height:800px;
}
#skills{
    height: 700px;
    
    background:linear-gradient(lightpink,purple);
    width:1500px;
    display: grid;
    grid-template-columns: repeat(2,2fr);
    padding: 93px;
    height:800px;
}
.image1{
    margin:30px;
}
.image2{
    margin:30px;
}
.image3{
    margin:30px;
}

input[type="text"] {
  width: 500px; 
  padding: 10px;
  font-size: 16px;
}
input[type="email"] {
  width: 500px; 
  padding: 10px;
  font-size: 16px;
}

textarea [id="message"]{
     width: 200px; 
  padding: 10px;
  font-size: 16px;
}
.msg{
    margin-top:80px;
}
    

    

